 body{
	background-color:#222233;
	margin:auto;
	font-family: Pontano Sans;

}
p{
	background-color: white;
	padding :7px;
	color: white;
	background-color:#5577bb;
	font-size:17px;
	margin-left:12px;
	text-shadow: 6px 6px 6px black;
	
}
#naglowek {
	width : 100 %;
	height:60px;
	background-color:;
	text-align: center;
	font-size: 48px;
	color: white;
	font-weight: bold;
	padding : 5px 0px 15px 5px;
	text-shadow: 6px 6px 6px black;
	background-color: #2F2F2F;
	background-size: 100%;
}
.menu {
	width : 100 %;
	height:80px;
	background-color:black;
	text-align : center; 
	box-shadow: 0px 1px 23px 7px rgba(12, 185, 245, 0.75);

}

#Tresc {
	width : 100%;
	height: 1250px;
	background-color:#222233;
	padding:20px 0px 0px 0px;
	margin-top:20px;
	
	 
}
#ContentInMainPage {
	width : 100 %;
	height: 450px;
	background-color:#5577bb;
	padding:20px 20px 20px 20px; 
	margin :40px 2% 0px 2%; 
	border-radius:20px;
	
}
#ContentInMainPageText {
	height: 436px;
	width : 36%;
	float:left;
	margin-top :7px;
	background-color:#5577bb;
	border-radius:10px 0px 0px 10px;
	box-shadow: 0px 1px 23px 7px rgba(12, 12, 12, 0.28);
}

#ContentInMainPageTextRight {
	height: 436px;
	width : 36%;
	
	float:left;
	margin-top :7px;
	background-color:#5577bb;
	border-radius:0px 10px 10px 0px;
	box-shadow: 0px 1px 23px 7px rgba(12, 12, 12, 0.28);
}
#ContentInMainPageImage {
	width : 25%;
	height: 455px;
	background-color:#0077cb;
	box-shadow: 0px 1px 23px 7px rgba(12, 12, 12, 0.38);
	margin-left:1%; 
	margin-right:1%;
	border-radius:20px;
	float:left;
	background-image: url(/image/icon.jpg);
	background-size:  100% 120%; 
}
#ContentInMainPageImage:hover {
	transform: scale(1.15, 1.15);
	transition-duration: 0.5s;	
} 
#chartContener{
	height: 1250px;
	width: 37%;
	float:left;
	margin-left:0.8%;
	background-color: #E8F5FC;;
	border-radius:10px
	
}
  #tableContener{
 	height: 1225px;
	width: 38%;
	margin-left:12%;
	float: left;
	background-color: #E8F5FC;
	border-radius:10px;
	padding: 1%;
	
 
 }


 .buttonMinus{ 
	background-image: url(/image/left.png);
	background-position: center;
	background-size:  40px 40px; 
	cursor: pointer;
	width :40px;
	height:40px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 1px 3px 1px #666	;
	margin-left :5%;
	margin-top:5px;
	opacity: 0.9; 
	display:inline;
 }
 .buttonMinusDay{ 
	background-image: url(/image/left.png);
	background-position: center;
	background-size:  47px 47px; 
	cursor: pointer;
	width :45px;
	height:45px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 1px 3px 1px #666	;
	margin-left :2%;
	margin-top:5px;
	opacity: 0.9; 
	display:inline;
 }
  .buttonMinusFormatted{ 
	background-image: url(/image/left.png);
	background-position: center;
	background-size:  40px 40px; 
	cursor: pointer;
	width :40px;
	height:40px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 1px 3px 1px #666	;
	margin-left :5%;
	margin-top:5px;
	opacity: 0.35; 
	display:inline;
 }
  .buttonMinusDayFormatted{ 
	background-image: url(/image/left.png);
	background-position: center;
	background-size:  47px 47px; 
	cursor: pointer;
	width :45px;
	height:45px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 1px 3px 1px #666	;
	margin-left :15px;
	margin-top:5px;
	opacity: 0.34; 
	display:inline;
 }
 
 .buttonMinus:hover{
	transform: scale(1.2, 1.2);
	transition-duration: 0.3s;
	opacity :1;
	display:inline;
 }

 
 .when {
	background-color : white;
	float :left ;
	width :15%;
	height:30px;
	padding-top: 10px;
	text-align:center;
	display:inline;
	border-radius:4px;
	margin-top: 8px;
	position: absolute;
	margin-left:3%;
	position:center;

	
	
}
  .buttonPlus{ 
	background-image: url(/image/right.png);
	background-position: center;
	float: right;
	background-size:  40px 40px; 
	cursor: pointer;
	width :40px;
	height:40px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 1px 3px 1px #666	;
	margin-right: 5%;
	margin-top:10px;
	opacity :0.9;
 }
   .buttonPlusDay{ 
	background-image: url(/image/right.png);
	background-position: center;
	float: right;
	background-size:  47px 47px; 
	cursor: pointer;
	width :45px;
	height:45px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 1px 3px 1px #666	;
	margin-right: 3%;
	margin-top:5px;
	opacity :0.9;
 
 }

   .buttonPlusFormatted{ 
	background-image: url(/image/right.png);
	background-position: center;
	float: right;
	background-size:  40px 40px; 
	cursor: pointer;
	width :40px;
	height:40px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 1px 3px 1px #666	;
	margin-right: 5%;
	margin-top:5px;
	opacity: 0.35; 
 }
 .buttonPlusDayFormatted{ 
	background-image: url(/image/right.png);
	background-position: center;
	float: right;
	background-size:  47px 47px; 
	cursor: pointer;
	width :45px;
	height:45px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 3px 1px 3px 1px #666	;
	margin-right: 3%;
	margin-top:5px;
	opacity: 0.35; 
 }
 .formleft {
 	/* Float both forms to the left */
 	float: left; 
}
 .buttonPlus:hover{
	transform: scale(1.2, 1.2);
	transition-duration: 0.3s;
	opacity: 1;
 }
.wpis{
	color: white;
	font-size: 24px; 
	border-radius:4px;
	background-color:  rgba(12, 78, 142, 1);
	height:40px;
	padding-top:15px;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color :#4A9FE9;


	
	
}
.canvas-holder{
	background-color : white;
	width: 90%;
	padding: 15px;
	margin: auto;
	margin-top : 10px;
	color : #502222;
}


.socials {
	margin-top:30px;
	width : 100%;
	height:155px;
	background-color: rgba(12, 185, 245, 0.75);
	//padding:20px 20px 20px 20px; 
	text-align: center;
}
.socialdivs{
	width: 100%;
	margin-left : auto;
	margin-right: auto;
}
.fb{
	width:21.25%;
	margin-left:8%;
	height: 155px;
	float:left;
	transition-duration:0.4s;
}
.fb:hover{
	background-color: #4668b3;		
}
.yt{
	width:21.25%;
	height: 155px;
	float:left;
	transition-duration:0.4s;
}
.yt:hover{
	background-color: #d94348;;
}
.tw{
	width:21.25%;
	height: 155px;
	float:left;
	transition-duration:0.4s;
}
.tw:hover{
	background-color: #3095d3;
}
.gplus{
	width:21%;
	height: 155px;
	float:left;
	transition-duration:0.4s;
}
.gplus:hover{
	background-color: #d95333;
}
.footer{
	text-align:center;
	background: black; 
	padding: 20px;
	color: white;
}
.sticky{
	width: 100%;
	position: fixed;
	left:0;
	top:0;
	z-index: 100;// okreslam ile ma zasłaniac
}

ol{
	text-align:center;
	margin: auto;
	list-style-type: none;
	font-size: 26 px;
	display:inline-block;
	height:80px;
    
}

ol  li a {
	color: white;
	text-decoration: none; 
	transition-duration:0s;
	height: 80px;
}


ol  li{
	float:left;
	width: 180px;
	transition-duration:0s;
	font-size:15px;
	height:80px;
	line-height:80px;
	display:table-cell;	
	vertical-align: middle;
}
ol  :hover{
	background-color: rgba(12, 185, 245, 0.90);
	color: yellow;
}

ol  li  ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	transform: scaleY(0);
	transform-origin:50% 0;
	transition: 0.5s;
	line-height: 40px;
	visibility: hidden;
	position:absolute;
	width:180px;
}
 ol > li:hover> ul{
	
	visibility:visible;
	transform: scaleY(1);
	height:50px;	
}



ol > li > ul > li
{
	background-color: rgba(12, 185, 245, 0.90);
	position: relative;
	border-top: 1px dashed #751b1b;
	transition-duration:0.1s;
	height: 50px;
	line-height: 50px;
}

ol > li > ul > li:last-child
{
border-radius: 0px 0px 20px 20px;	
}
.tabela2 {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:0px;
    border:#ccc 1px solid;
    border-collapse:separate;
 	margin-left:5px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
 	width: 99%;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
 
.tabela2 th {
    font-weight:bold;
    padding:12px 25px 12px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
 	
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.tabela2 th:first-child{
    text-align: left;
 	text-align:center;
	width:90px

}
.tabela2 tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
.tabela2 tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
.tabela2 tr{
    text-align: center;
    padding-left:20px;
}
.tabela2 tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
.tabela2 tr td {
    padding:6px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
 
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tabela2 tr:nth-child(even) td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tabela2 tr:last-child td{
    border-bottom:0;
}
.tabela2 tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
.tabela2 tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
#table { 
overflow: auto;
height: 800px;
width: 100%;
}