#loginContener{
    height: 400px;
    width: 80%;
    float: left;
    background-color: #EEF5FC;
    border-radius:4px; 
    margin-left:10%;
    margin-top:3%;
}
#Tresc {
	width : 100%;
	height: 480px;
	background-color:#222233;
	padding:20px 20px 20px 20px; 
	 
}
#login {
    width:40%;
    margin-left:25%;
    margin-right:25%;
    float:left;
    border-radius:10px;
    font-family:raleway;
    border:2px solid #ccc;
    padding:10px 40px 25px;
    margin-top:6%;
}

input[type=text],input[type=password] {
    width:99.5%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-size:16px;
    font-family:raleway
}

input[type=submit] {
    width:100%;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin-bottom:15px;
    margin-top:15px;
    margin-left:2%
}
